.about__gallery {
  height: 58.6rem;
  margin: 20rem 0;
  overflow: hidden;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__gallery__wrapper {
  align-items: center;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.about__gallery__media {
  position: relative;
  height: 43.7rem;
  width: 30.9rem;
  margin: 0 4rem;
}

.about__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}
